.stats-screen {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 2%;
  gap: 1.6vw;
}

.stats-summary-panel {
  display: flex;
  justify-content: space-between;
  font-size: clamp(0.8rem, 2vw, 1rem);
  width: min(50rem, 90%);
  position: relative;
  transform: translateX(2.5%);
}

.previous-stats {
  opacity: 0;
  color: var(--color-accent);
  position: absolute;
  left: -7.5vw;
  top: 50%;
  transform: translateY(-50%);
}

.previous-stats.active {
  opacity: 1;
}

.stats-summary-panel > div {
  display: none;
  flex-direction: column;
}

.stats-figure {
  display: flex;
  align-items: center;
  font-size: clamp(2rem, 8vw, 4rem);
}

.stats-figure > span:last-of-type {
  font-size: 0.85rem;
  font-style: italic;
}

.stats-analysis-panel {
  display: flex;
  flex-direction: column;
  width: min(100%, 52rem);
  gap: 1.5vw;
}

.stats-analysis-panel > div {
  border: 1px solid var(--color-text-primary);
  border-radius: 0.6875rem;
  order: 2;
}

.stats-analysis-panel > div:first-of-type {
  display: none;
}

.stats-analysis-panel > .test-replay {
  display: flex;
  aspect-ratio: 52 / 10;
  justify-content: center;
  align-items: center;
  order: 0;
}

.test-replay > button {
  border: 1px solid var(--color-text-primary);
  border-radius: 50%;
  width: 11%;
  aspect-ratio: 1 /1;
  font-size: clamp(0.6rem, 3vw, 1.25rem);
}

.test-replay > button:focus-visible {
  outline: 2px solid var(--color-text-primary);
  outline-offset: 2px;
}

.stats-analysis-panel > .graph {
  display: none;
  aspect-ratio: 52 / 23;
}

.stats-summary-panel > .show-n-slide,
.stats-analysis-panel > .show-n-slide {
  display: flex;
  animation-duration: 1s;
  animation-delay: 0s;
}

.stats-summary-panel > .slide-r {
  animation-name: showAndSlideRight;
}

.stats-analysis-panel > .slide-u {
  animation-name: showAndSlideUp;
}

.stats-analysis-panel > button {
  order: 2;
  justify-self: center;
  align-self: center;
}

@keyframes showAndSlideRight {
  0% {
    transform: translateX(-0.625rem);
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes showAndSlideUp {
  0% {
    transform: translateY(0.625rem);
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@media (min-width: 1200px) {
  .stats-screen {
    flex-direction: row;
  }

  .stats-summary-panel {
    display: grid;
    grid-template-columns: minmax(4.25rem, 6.25rem) 13.5rem;
    align-content: space-between;
    height: 32rem;
    width: auto;
    margin-bottom: 4.5rem;
  }

  .previous-stats {
    position: static;
    grid-row: span 3;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    transform: none;
  }

  .stats-analysis-panel {
    display: grid;
    grid-template-columns: 52rem minmax(0, 6.25rem);
  }

  .stats-analysis-panel > div:first-of-type {
    grid-row: span 3;
    display: flex;
    border: none;
  }
}
