* {
  font-family: "JetBrains Mono", monospace;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

main {
  background-color: #fff;
  width: 80rem;
  height: 45rem;
  display: grid;
  grid-template-rows: 6rem 1fr 6rem;
}

.content {
  border: 0 solid #d8d8d8;
  padding: 2rem 0;
  border-width: 2px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.text-box {
  width: 36rem;
  height: 9rem;
  border: 2px solid #d8d8d8;
  border-radius: 0.875rem;
}

.keyboard {
  font-size: 0.7rem;
  width: 50.25em;
  height: 22.5em;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.key-row {
  flex: 1;
  display: flex;
  gap: 0.45em;
}

.key {
  display: flex;
  flex-direction: column;
  font-size: 1.25em;
  justify-content: center;
  align-items: center;
  border: 1.5px solid #000;
  flex: 1;
  border-radius: 0.35em;
}

.key.dual-char > span {
  font-size: 0.8em;
  color: rgba(0, 0, 0, 0.65);
}

.modkey-sm,
.modkey-md,
.modkey-lg {
  font-size: 1.15em;
}

.modkey-sm {
  flex: 0 0 5em;
}

.modkey-md {
  flex: 0 0 6em;
}

.modkey-lg {
  flex: 0 0 7.5em;
}

.backspace-key {
  font-size: 1.25em;
}

.active {
  color: #fff;
  background-color: #00f;
}

.shift-down .alphabet {
  text-transform: uppercase;
}

.shift-down .dual-char {
  color: rgb(0, 0, 0, 0.65);
}

.shift-down .dual-char span {
  color: #000;
  font-size: 0.9em;
}

.shift-down .active.dual-char {
  color: #000;
}

.shift-down .active.dual-char span {
  color: #fff;
}
